<section>
  <div class="container-fluid">
    <div>
      <div class="row">
        @for (item of mainMenuCatigries; track $index) {
        <div class="col-12 col-md-4 col-lg-3 p-2 p-lg-4">
          <div
            class="Categorie__Container rounded-3 h-100"
            role="button"
            tabindex="0"
            [routerLink]="item.link"
          >
            <div class="imageContainer ratio ratio-4x3">
              <img
                [ngSrc]="item.img"
                [alt]="item.name"
                class="object-fit-cover rounded-3"
                fill
              />
            </div>
            <p
              class="text-center text-uppercase rounded-pill Bg-Secondary w-75 mx-auto text-white py-3 px-3 fw-bold h4 mt-3"
            >
              {{ item.name }}
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
