<section>
  <div class="container-fluid my-3">
    <div>
      <div>
        @if (BannerImages) {
        <owl-carousel-o [options]="customOptions">
          @for (item of BannerImages.Folder2; track item ; let i = $index) {
          <ng-container>
            <ng-template carouselSlide [id]="i.toString()">
              <div [ngClass]="{ 'd-none': showOwle }">
                <img
                  (load)="done()"
                  class="rounded-3"
                  [src]="item.Image_Url"
                  [alt]="item.Image_Name"
                  [title]="item.Image_Name"
                  height="400"
                  width="400"
                  referrerpolicy="no-referrer"
                />
              </div>
            </ng-template>
          </ng-container>
          }
        </owl-carousel-o>
        } @if (showOwle) {
        <div class="placeholder rounded-3"></div>
        }
      </div>
      <app-menu></app-menu>
    </div>
  </div>
</section>
@if (toggleLightBox) {
<div
  (click)="onToggleLightBox()"
  class="lightBoxContainer position-fixed top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center Bg-RGBA z-3"
>
  <div
    class="lightBoxContent d-flex justify-content-center align-items-center position-relative"
    (click)="stopProp($event)"
  >
    <button
      class="btn-close px-4 position-absolute Bg-Main end-0 m-3 bottom-100"
      (click)="onToggleLightBox()"
    ></button>
    <iframe
      src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F100092714241423%2Fvideos%2F972463054319705%2F&show_text=false&width=560&t=0"
      width="560"
      height="314"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      allowFullScreen="true"
    ></iframe>
  </div>
</div>
}
