<div class="main">
  <div class="container py-2 mb-1">
    <div
      class="d-flex justify-content-lg-between justify-content-center align-items-center flex-wrap"
    >
      <div class="d-flex justify-content-start align-items-center">
        <div>
          <img
            width="75"
            height="75"
            src="/assets/Logo/logo.png"
            alt="momento site logo"
          />
        </div>
        <h2 class="text-center Text-Main mb-0 px-2">
          <span class="d-block text-uppercase">Momento</span>
          <span class="d-block fs-6">mini market & cafe</span>
        </h2>
      </div>
      <div class="d-flex justify-content-start align-items-center">
        <h3 class="Text-Main fs-6 px-2 m-0">01028057480 - 01222257743</h3>
        <img
          width="60"
          height="60"
          src="/assets/Logo/delevery (2).svg"
          alt="delevery button"
        />
      </div>
      <div
        class="Text-Main d-flex justify-content-start align-items-center flex-column text-uppercase"
      >
        <div class="d-flex justify-content-start align-items-center">
          <P class="mb-0">BORG ELARAB, AZHA MALL, GROUND FLOOR</P>
          <i class="fa-solid fa-location-dot px-1"></i>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <P class="mb-0">BORG ELARAB, down town MALL, GROUND FLOOR</P>
          <i class="fa-solid fa-location-dot px-1"></i>
        </div>
      </div>
    </div>
  </div>
</div>
