p.rounded-end-pill {
  transform: translateX(-20px);
  position: relative;
  z-index: 1;
}
.animateOnLog {
  transform: translateY(-10px);
  opacity: 0;
  animation: animateOnLog 0.8s forwards;
}
@keyframes animateOnLog {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:host ::ng-deep {
  @media screen and (max-width: 567px) {
    .p-toast {
      max-width: 300px;
      font-family: inherit;
    }
  }
}
