<header>
  <div class="container-fluid position-relative z-1">
    <ul
      class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-between py-3 border-bottom border-3 z-1 position-relative"
    >
      <li
        routerLink="feedback"
        role="button"
        class="btn-outline-main mx-1 text-warning"
      >
        Rate Us
        <i class="fa-solid fa-star"></i>
      </li>
      <div class="d-flex justify-content-center align-items-center">
        <li routerLink="/menu" class="navLink">
          <button class="btn fs-3 pb-0 Text-Secondary">
            <i class="fa-solid fa-bars fs-1"></i>
          </button>
        </li>
        <app-cart-icon></app-cart-icon>
      </div>
      <!-- <li class="nav-item dropdown">
          <button
            class=""
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            class="btn-outline-main mx-1 dropdown-toggle"
          >
            Careers
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Join us</a></li>
          </ul>
        </li>
        <li>
          <button class="btn-outline-main mx-1">signup</button>
        </li>
        <li>
          <button class="btn-main mx-1">signin</button>
        </li> -->
    </ul>
  </div>
  <nav>
    <ul
      class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-center px-2 pt-3"
    >
      <li class="SecitonLoad">
        <a class="nav-link logocontainer mx-auto" routerLink="/">
          <img class="w-100" src="assets/Logo/logo.png" alt="momento logo" />
        </a>
      </li>
      <!-- <div class="d-flex justify-content-start align-items-center">
        <li
          role="button"
          tabindex="0"
          routerLink="/deliveryAdmin"
          class="position-relative"
        >
          <i
            class="pi pi-bell text-3xl top-0 start-100 position-absolute"
            pBadge
            value="2"
          ></i>
          <i class="fa-regular fa-bell fs-2"></i>
        </li>
      </div> -->

      <!-- <li (click)="toggleLightBox()" class="navLink">
        <button class="btn fs-3 Text-Secondary">
          <i class="fa-solid fa-motorcycle"></i>
        </button>
      </li> -->
    </ul>
  </nav>
</header>
@if (toggleLightBox) {
<div
  (click)="onToggleLightBox()"
  class="lightBoxContainer position-fixed top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center Bg-RGBA z-3 SecitonLoad"
>
  <div
    class="lightBoxContent d-flex justify-content-center align-items-center position-relative"
    (click)="stopProp($event)"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <button
      class="btn-close px-4 position-absolute Bg-Main end-0 m-3 bottom-100"
      (click)="onToggleLightBox()"
    ></button>
    <iframe
      src="https://www.facebook.com/plugins/video.php?height=317&href=https%3A%2F%2Fwww.facebook.com%2FMomentomart%2Fvideos%2F2159794157714374%2F&show_text=false&width=560&t=0"
      width="560"
      height="314"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      allowFullScreen="true"
    ></iframe>
  </div>
</div>
}
<!-- 

<iframe src="https://www.facebook.com/plugins/video.php?height=317&href=https%3A%2F%2Fwww.facebook.com%2FMomentomart%2Fvideos%2F2159794157714374%2F&show_text=false&width=560&t=0" width="560" height="317" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
-->
