<section class="Bg-Secondary py-4">
  <div class="container text-uppercase">
    <div>
      <div class="mb-3 d-flex justify-content-center align-items-center">
        <img
          width="75"
          height="75"
          ngSrc="/assets/home-menu/cock.webp"
          role="presentation"
          class="rounded-circle position-relative z-2"
        />
        <p class="fs-1 mb-0 px-3 bg-white rounded-end-pill">
          {{ freshJuce.section_name }}
        </p>
      </div>
      @for (item of freshJuce.items; track $index) {
      <div class="row text-center">
        <p class="bg-white col-8 fs-3">
          {{ item.name }}
        </p>
        <p
          class="bg-white col-4 fs-3 d-flex justify-content-center align-items-center"
        >
          {{ item.price1 }}
        </p>
      </div>
      }
    </div>
    <div>
      <div class="mb-3 d-flex justify-content-center align-items-center">
        <img
          width="75"
          height="75"
          ngSrc="/assets/home-menu/cock.webp"
          role="presentation"
          class="rounded-circle position-relative z-2"
        />
        <p class="fs-1 mb-0 px-3 bg-white rounded-end-pill">
          {{ frappe.section_name }}
        </p>
      </div>
      @for (item of frappe.items; track $index) {
      <div class="row text-center">
        <p class="bg-white col-8 fs-3">
          {{ item.name }}
        </p>
        <p
          class="bg-white col-4 fs-3 d-flex justify-content-center align-items-center"
        >
          {{ item.price1 }}
        </p>
      </div>
      }
    </div>
    <button routerLink="/" class="fs-1">
      <i class="fa-solid fa-right-to-bracket fa-flip-horizontal"></i> Back
    </button>
  </div>
</section>
