<section class="Bg-Secondary py-4">
  <div class="container text-uppercase">
    <div class="mb-3 d-flex justify-content-center align-items-center">
      <img
        width="75"
        height="75"
        ngSrc="/assets/home-menu/cock.webp"
        role="presentation"
        class="rounded-circle position-relative z-2"
      />
      <p class="fs-1 mb-0 px-3 bg-white rounded-end-pill">coctail</p>
    </div>
    @for (item of hotcoffees; track $index) {
    <div class="row text-center border-bottom">
      <p class="bg-white col-8 fs-6 mb-0">
        {{ item.name }}
        <span class="d-block fs-6 Text-Secondary">{{ item.description }}</span>
      </p>
      <p
        class="bg-white col-4 fs-6 mb-0 d-flex justify-content-center align-items-center"
      >
        {{ item.price1 }}
      </p>
    </div>
    }
    <button routerLink="/menu" class="fs-1 mt-2">
      <i class="fa-solid fa-right-to-bracket fa-flip-horizontal"></i> Back
    </button>
  </div>
</section>
