@import "variables";
.imageContainer {
  height: 300px;
  width: 100%;
}

.Categorie__Container {
  border: 1px solid #ff800036;
  transition: 0.3s all;
  &:hover {
    background-color: #ff800036;
  }
}
@media screen and (max-width: 992px) {
  .main_Text {
    font-size: 16px !important;
  }
  .imageContainer {
    height: 200px !important;
  }
}
.main_Text {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
