<section class="Bg-Secondary py-4">
  <div class="container text-uppercase">
    <div class="mb-3 d-flex justify-content-center align-items-center">
      <img
        width="75"
        height="75"
        ngSrc="/assets/home-menu/teae.jpg"
        role="presentation"
        class="rounded-circle position-relative z-2"
      />
      <p class="fs-1 mb-0 px-3 bg-white rounded-end-pill">hot drinks</p>
    </div>
    @for (item of hotcoffees; track $index) {
    <div class="row text-center">
      <p class="bg-white col-6 fs-3">{{ item.name }}</p>
      <p class="bg-white col-6 fs-3">{{ item.price1 }}</p>
    </div>
    }
    <button routerLink="/" class="fs-1">
      <i class="fa-solid fa-right-to-bracket fa-flip-horizontal"></i> Back
    </button>
  </div>
</section>
